<!DOCTYPE html>
<html lang="en">
<head>
	<title>Table V01</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="top-bar">
		<div class="top-bar-left">
			<ul class="menu">
				<li><a href="#">Tata Institute of Social Sciences</a></li>
			</ul>
		</div>
		<div class="top-bar-right">
			<ul class="menu">
				<li><a href="main.html" disabled>home</a></li>
				<li><a href="#">about</a></li>
				<li><a href="#">contact</a></li>
				<li><a href="profile.html"> profile </a></li>
				<li><a href="index.html">sign out </a> </li>
			</ul>
		</div>
	</div>
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Course</th>
								<th class="column2">Course Rating</th>
								<th class="column3">Topic</th>
								<th class="column4">Date</th>
								<th class="column5">Time</th>
								<th class="column6">Live Session</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="column1">HTML - Beginner</td>
								<td class="column2">4/5</td>
								<td class="column3"></td>
								<td class="column4">16-08-2020</td>
								<td class="column5">19:00:00</td>
								<td class="column6"><a href="#"> Link </a> </td>
							</tr>

							<tr>
								<td class="column1">CSS - Beginner</td>
								<td class="column2">4.5/5</td>
								<td class="column3"></td>
								<td class="column4">16-08-2020</td>
								<td class="column5">19:00:00</td>
								<td class="column6"><a href="#"> Link </a> </td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</body>
</html>